<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ListRequests</servlet-name>
  	<display-name>ListRequests</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.ListRequests</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddRequest</servlet-name>
  	<display-name>AddRequest</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.AddRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginSevlet</servlet-name>
  	<display-name>LoginSevlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.LoginSevlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DonorLoginServlet</servlet-name>
  	<display-name>DonorLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.DonorLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ContributeRequest</servlet-name>
  	<display-name>ContributeRequest</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.ContributeRequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DonorActivity</servlet-name>
  	<display-name>DonorActivity</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.DonorActivity</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DonorListServlet</servlet-name>
  	<display-name>DonorListServlet</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.DonorListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logintest</servlet-name>
  	<display-name>Logintest</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.Logintest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<display-name>AdminLogin</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.AdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateRequest</servlet-name>
  	<display-name>UpdateRequest</display-name>
  	<description></description>
  	<servlet-class>com.revature.controller.UpdateRequest</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ListRequests</servlet-name>
  	<url-pattern>/ListRequests</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddRequest</servlet-name>
  	<url-pattern>/AddRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginSevlet</servlet-name>
  	<url-pattern>/LoginSevlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DonorLoginServlet</servlet-name>
  	<url-pattern>/DonorLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContributeRequest</servlet-name>
  	<url-pattern>/ContributeRequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DonorActivity</servlet-name>
  	<url-pattern>/DonorActivity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DonorListServlet</servlet-name>
  	<url-pattern>/DonorListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logintest</servlet-name>
  	<url-pattern>/Logintest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateRequest</servlet-name>
  	<url-pattern>/UpdateRequest</url-pattern>
  </servlet-mapping>
</web-app>
